<section class="form-section">
    <h1>
        <%= title %>
    </h1>

    <% if (notice && notice.length) { %>
        <div class="notice">
            <%= notice[0] %>
        </div>
        <% } %>

            <% if (errors && errors.length) { %>
                <ul class="notice error-list">
                    <% errors.forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>

                    <form action="/account/register" method="post" class="form-card">
                        <label for="accountFirstname">First Name</label>
                        <input type="text" name="account_firstname" id="accountFirstname" required
                            value="<%= locals.account_firstname || '' %>">

                        <label for="accountLastname">Last Name</label>
                        <input type="text" name="account_lastname" id="accountLastname" required
                            value="<%= locals.account_lastname || '' %>">

                        <label for="accountEmail">Email Address</label>
                        <input type="email" name="account_email" id="accountEmail" required
                            value="<%= locals.account_email || '' %>">

                        <label for="accountPassword">Password</label>
                        <input type="password" name="account_password" id="accountPassword" required
                            pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*()_+\-=\[\]{};':&quot;\\|,.<>\/?]).{12,}$">

                        <button type="submit" class="btn">Register</button>
                    </form>
</section>